Test bodo snowflake haversine

In [1]:
%autopx

%autopx enabled

In [2]:
import snowflake.connector
#import bodo
import time
from sqlalchemy.dialects import registry
registry.register('snowflake', 'snowflake.sqlalchemy', 'dialect')

In [3]:
import os
with open("./snowflake-secrets.txt","r") as f:
    for line in f:
        args=line.split("=")
        os.environ[args[0]]=args[1].strip()
username=os.environ["username"]
password=os.environ["password"]
account=os.environ["account"]
warehouse="BODO_VW"
database="BODO_DB"
role="BODO_R1"

In [4]:
import bodo
import pandas as pd
@bodo.jit()
def run_test3():
    df=pd.read_sql('select *,HAVERSINE(start_station_latitude,start_station_longitude,end_station_latitude,end_station_longitude) as distance_in_km_sf from PUBLIC.TRIPS limit 10000', f"snowflake://{username}:{password}@{account}/{database}/public?role={role}&warehouse={warehouse}",)
    print(len(df))
    return df
df=run_test3()
df

[stdout:0]
10000

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf
0,836,2016-07-12 07:24:14,2016-07-12 07:38:10,3145,E 84 St & Park Ave,40.778627,-73.957721,228,E 48 St & 3 Ave,40.754601,-73.971879,25132,NaN,Subscriber,1964,1,2.925549
1,1494,2016-07-12 07:24:15,2016-07-12 07:49:09,224,Spruce St & Nassau St,40.711464,-74.005524,224,Spruce St & Nassau St,40.711464,-74.005524,22408,NaN,Customer,<NA>,0,0.000000
2,1164,2016-07-12 07:24:16,2016-07-12 07:43:41,511,E 14 St & Avenue B,40.729387,-73.977724,362,Broadway & W 37 St,40.751726,-73.987535,25308,NaN,Subscriber,1976,1,2.617946
3,472,2016-07-12 07:24:16,2016-07-12 07:32:08,3163,Central Park West & W 68 St,40.773407,-73.977825,499,Broadway & W 60 St,40.769155,-73.981918,20164,NaN,Subscriber,1970,1,0.585058
4,1026,2016-07-12 07:24:18,2016-07-12 07:41:25,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,327,Vesey Pl & River Terrace,40.715338,-74.016584,21538,NaN,Customer,<NA>,0,2.883339
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620,627,2016-10-03 09:22:49,2016-10-03 09:33:17,359,E 47 St & Park Ave,40.755103,-73.974987,466,W 25 St & 6 Ave,40.743954,-73.991449,24964,NaN,Subscriber,1978,1,1.860031
621,1285,2016-10-03 09:22:49,2016-10-03 09:44:14,420,Clermont Ave & Lafayette Ave,40.687645,-73.969689,387,Centre St & Chambers St,40.712733,-74.004607,20925,NaN,Subscriber,1983,1,4.055493
622,410,2016-10-03 09:22:51,2016-10-03 09:29:42,446,W 24 St & 7 Ave,40.744876,-73.995299,540,Lexington Ave & E 29 St,40.743116,-73.982154,19526,NaN,Subscriber,1993,2,1.124601
623,324,2016-10-03 09:22:52,2016-10-03 09:28:16,3161,W 76 St & Columbus Ave,40.780184,-73.977285,3167,Amsterdam Ave & W 73 St,40.779668,-73.980930,14580,NaN,Subscriber,1955,1,0.312232
624,611,2016-10-03 09:22:53,2016-10-03 09:33:04,492,W 33 St & 7 Ave,40.750200,-73.990931,359,E 47 St & Park Ave,40.755103,-73.974987,27096,NaN,Subscriber,1973,1,1.449446

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf
625,216,2016-10-03 09:22:54,2016-10-03 09:26:30,417,Barclay St & Church St,40.712912,-74.010202,330,Reade St & Broadway,40.714505,-74.005628,20036,NaN,Subscriber,1959,1,0.424260
626,290,2016-10-03 09:22:54,2016-10-03 09:27:44,3263,Cooper Square & E 7 St,40.729236,-73.990868,503,E 20 St & Park Ave,40.738274,-73.987520,14621,NaN,Subscriber,1960,1,1.043806
627,366,2016-10-03 09:22:55,2016-10-03 09:29:02,251,Mott St & Prince St,40.723180,-73.994800,335,Washington Pl & Broadway,40.729039,-73.994046,14900,NaN,Subscriber,1990,1,0.654644
628,469,2016-10-03 09:22:55,2016-10-03 09:30:45,484,W 44 St & 5 Ave,40.755003,-73.980144,442,W 27 St & 7 Ave,40.746647,-73.993915,22030,NaN,Subscriber,1979,1,1.486198
629,634,2016-10-03 09:22:55,2016-10-03 09:33:29,2012,E 27 St & 1 Ave,40.739445,-73.976806,164,E 47 St & 2 Ave,40.753231,-73.970325,19874,NaN,Subscriber,1960,2,1.627252
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1245,2063,2016-10-03 09:25:38,2016-10-03 10:00:02,3403,4 Ave & 9 St,40.670513,-73.988766,348,W Broadway & Spring St,40.724910,-74.001547,24327,NaN,Subscriber,1984,1,6.143821
1246,277,2016-10-03 09:25:39,2016-10-03 09:30:16,345,W 13 St & 6 Ave,40.736494,-73.997044,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,25292,NaN,Subscriber,1997,1,0.819237
1247,268,2015-03-29 12:16:00,2015-03-29 12:20:00,523,W 38 St & 8 Ave,40.754666,-73.991382,379,W 31 St & 7 Ave,40.749156,-73.991600,15989,NaN,Subscriber,1974,1,0.612950
1248,751,2015-03-29 12:17:00,2015-03-29 12:30:00,212,W 16 St & The High Line,40.743349,-74.006818,478,11 Ave & W 41 St,40.760301,-73.998842,20836,NaN,Subscriber,1977,2,2.001072
1249,752,2015-03-29 12:17:00,2015-03-29 12:30:00,212,W 16 St & The High Line,40.743349,-74.006818,478,11 Ave & W 41 St,40.760301,-73.998842,20086,NaN,Subscriber,1983,1,2.001072

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf
1250,612,2015-03-29 12:17:00,2015-03-29 12:27:00,223,W 13 St & 7 Ave,40.737815,-73.999947,507,E 25 St & 2 Ave,40.739126,-73.979738,15616,NaN,Subscriber,1949,1,1.708864
1251,3197,2015-03-29 12:17:00,2015-03-29 13:10:00,238,Bank St & Washington St,40.736197,-74.008592,345,W 13 St & 6 Ave,40.736494,-73.997044,15531,NaN,Subscriber,1973,2,0.973562
1252,317,2015-03-29 12:17:00,2015-03-29 12:23:00,334,W 20 St & 7 Ave,40.742388,-73.997262,383,Greenwich Ave & Charles St,40.735238,-74.000271,21526,NaN,Subscriber,1972,1,0.834461
1253,202,2015-03-29 12:17:00,2015-03-29 12:20:00,348,W Broadway & Spring St,40.724910,-74.001547,368,Carmine St & 6 Ave,40.730386,-74.002150,15462,NaN,Subscriber,1986,1,0.611034
1254,269,2015-03-29 12:17:00,2015-03-29 12:21:00,365,Fulton St & Grand Ave,40.682232,-73.961458,364,Lafayette Ave & Classon Ave,40.689004,-73.960239,14903,NaN,Subscriber,1983,2,0.760088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1870,195,2013-10-18 14:36:48,2013-10-18 14:40:03,474,5 Ave & E 29 St,40.745168,-73.986831,526,E 33 St & 5 Ave,40.747659,-73.984907,15376,NaN,Subscriber,1987,1,0.320985
1871,688,2013-10-18 14:36:49,2013-10-18 14:48:17,146,Hudson St & Reade St,40.716250,-74.009106,346,Bank St & Hudson St,40.736529,-74.006180,18910,NaN,Subscriber,1981,1,2.268338
1872,383,2013-10-18 14:36:49,2013-10-18 14:43:12,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,499,Broadway & W 60 St,40.769155,-73.981918,18376,NaN,Subscriber,1972,1,0.870191
1873,620,2013-10-18 14:36:49,2013-10-18 14:47:09,368,Carmine St & 6 Ave,40.730386,-74.002150,168,W 18 St & 6 Ave,40.739713,-73.994564,18819,NaN,Subscriber,1985,1,1.218249
1874,386,2013-10-18 14:36:49,2013-10-18 14:43:15,385,E 55 St & 2 Ave,40.757973,-73.966033,455,1 Ave & E 44 St,40.750020,-73.969053,18745,NaN,Subscriber,1971,1,0.920230

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf
1875,860,2013-10-18 14:36:52,2013-10-18 14:51:12,508,W 46 St & 11 Ave,40.763414,-73.996674,493,W 45 St & 6 Ave,40.756800,-73.982912,16131,NaN,Subscriber,1966,1,1.372776
1876,381,2013-10-18 14:36:55,2013-10-18 14:43:16,347,W Houston St & Hudson St,40.728739,-74.007488,323,Lawrence St & Willoughby St,40.692362,-73.986317,16640,NaN,Subscriber,1978,1,4.421069
1877,297,2013-10-18 14:36:57,2013-10-18 14:41:54,469,Broadway & W 53 St,40.763441,-73.982681,520,W 52 St & 5 Ave,40.759923,-73.976485,15854,NaN,Subscriber,1990,1,0.652191
1878,411,2013-10-18 14:36:59,2013-10-18 14:43:50,357,E 11 St & Broadway,40.732618,-73.991580,2003,1 Ave & E 18 St,40.734161,-73.980243,14660,NaN,Subscriber,1955,1,0.970563
1879,482,2013-10-18 14:37:00,2013-10-18 14:45:02,382,University Pl & E 14 St,40.734927,-73.992005,336,Sullivan St & Washington Sq,40.730477,-73.999061,20650,NaN,Subscriber,1991,2,0.773442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,2107,2013-10-18 14:37:55,2013-10-18 15:13:02,264,Maiden Ln & Pearl St,40.707065,-74.007319,411,E 6 St & Avenue D,40.722281,-73.976687,18407,NaN,Subscriber,1969,2,3.086725
2496,1409,2013-10-18 14:37:55,2013-10-18 15:01:24,2000,Front St & Washington St,40.702551,-73.989402,459,W 20 St & 11 Ave,40.746745,-74.007756,19342,NaN,Subscriber,1988,2,5.151807
2497,183,2013-10-18 14:37:58,2013-10-18 14:41:01,147,Greenwich St & Warren St,40.715422,-74.011220,276,Duane St & Greenwich St,40.717488,-74.010455,19972,NaN,Subscriber,1967,1,0.238542
2498,1764,2013-10-18 14:37:58,2013-10-18 15:07:22,337,Old Slip & Front St,40.703799,-74.008387,305,E 58 St & 3 Ave,40.760958,-73.967245,19683,NaN,Subscriber,1980,1,7.239656
2499,750,2013-10-18 14:37:59,2013-10-18 14:50:29,484,W 44 St & 5 Ave,40.755003,-73.980144,521,8 Ave & W 31 St,40.750450,-73.994811,18141,NaN,Customer,<NA>,0,1.335080

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf
2500,190,2013-10-18 14:38:02,2013-10-18 14:41:12,305,E 58 St & 3 Ave,40.760958,-73.967245,385,E 55 St & 2 Ave,40.757973,-73.966033,17005,NaN,Subscriber,1970,1,0.347179
2501,708,2013-10-18 14:38:04,2013-10-18 14:49:52,137,E 56 St & Madison Ave,40.761628,-73.972924,508,W 46 St & 11 Ave,40.763414,-73.996674,16257,NaN,Subscriber,1974,1,2.010130
2502,456,2013-10-18 14:38:08,2013-10-18 14:45:44,458,11 Ave & W 27 St,40.751396,-74.005226,446,W 24 St & 7 Ave,40.744876,-73.995299,17178,NaN,Subscriber,1983,2,1.106747
2503,1566,2013-10-18 14:38:12,2013-10-18 15:04:18,495,W 47 St & 10 Ave,40.762699,-73.993012,323,Lawrence St & Willoughby St,40.692362,-73.986317,18080,NaN,Subscriber,1990,2,7.841441
2504,357,2013-10-18 14:38:12,2013-10-18 14:44:09,521,8 Ave & W 31 St,40.750450,-73.994811,444,Broadway & W 24 St,40.742354,-73.989151,18451,NaN,Subscriber,1975,1,1.018669
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3120,890,2016-05-05 17:14:15,2016-05-05 17:29:05,392,Jay St & Tech Pl,40.695065,-73.987167,417,Barclay St & Church St,40.712912,-74.010202,23868,NaN,Subscriber,1985,1,2.776479
3121,566,2016-05-05 17:14:16,2016-05-05 17:23:43,128,MacDougal St & Prince St,40.727103,-74.002971,503,E 20 St & Park Ave,40.738274,-73.987520,20617,NaN,Subscriber,1984,1,1.799476
3122,381,2016-05-05 17:14:16,2016-05-05 17:20:37,519,Pershing Square North,40.751873,-73.977706,441,E 52 St & 2 Ave,40.756014,-73.967416,23674,NaN,Subscriber,1986,1,0.981468
3123,1758,2016-05-05 17:14:17,2016-05-05 17:43:36,441,E 52 St & 2 Ave,40.756014,-73.967416,412,Forsyth St & Canal St,40.715815,-73.994224,23227,NaN,Subscriber,1993,1,5.008132
3124,4177,2016-05-05 17:14:17,2016-05-05 18:23:54,444,Broadway & W 24 St,40.742354,-73.989151,517,Pershing Square South,40.751581,-73.977910,24800,NaN,Subscriber,1966,2,1.396168

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf
3125,1063,2016-05-05 17:14:18,2016-05-05 17:32:01,212,W 16 St & The High Line,40.743349,-74.006818,301,E 2 St & Avenue B,40.722174,-73.983688,19041,NaN,Subscriber,1974,1,3.056478
3126,1841,2016-05-05 17:14:18,2016-05-05 17:44:59,351,Front St & Maiden Ln,40.705310,-74.006126,528,2 Ave & E 31 St,40.742909,-73.977061,19348,NaN,Subscriber,1984,1,4.845500
3127,247,2016-05-05 17:14:20,2016-05-05 17:18:27,384,Fulton St & Washington Ave,40.683048,-73.964915,3048,Putnam Ave & Nostrand Ave,40.684020,-73.949770,22530,NaN,Subscriber,1987,1,1.281615
3128,512,2016-05-05 17:14:20,2016-05-05 17:22:52,437,Macon St & Nostrand Ave,40.680983,-73.950048,353,S Portland Ave & Hanson Pl,40.685396,-73.974315,16971,NaN,Subscriber,1986,1,2.104205
3129,1159,2016-05-05 17:14:23,2016-05-05 17:33:43,457,Broadway & W 58 St,40.766953,-73.981693,490,8 Ave & W 33 St,40.751551,-73.993934,16038,NaN,Subscriber,1973,1,1.999016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3745,703,2017-05-12 10:07:33,2017-05-12 10:19:16,3145,E 84 St & Park Ave,40.778627,-73.957721,2023,E 55 St & Lexington Ave,40.759681,-73.970314,15698,NaN,Subscriber,1957,1,2.358566
3746,194,2017-05-12 10:07:34,2017-05-12 10:10:49,267,Broadway & W 36 St,40.750977,-73.987654,486,Broadway & W 29 St,40.746201,-73.988557,18008,NaN,Subscriber,1958,2,0.536510
3747,615,2017-05-12 10:07:35,2017-05-12 10:17:50,546,E 30 St & Park Ave S,40.744449,-73.983035,3260,Mercer St & Bleecker St,40.727064,-73.996621,27520,NaN,Subscriber,1987,1,2.246677
3748,343,2017-05-12 10:07:37,2017-05-12 10:13:21,325,E 19 St & 3 Ave,40.736245,-73.984738,345,W 13 St & 6 Ave,40.736494,-73.997044,25415,NaN,Subscriber,1978,1,1.037214
3749,745,2017-05-12 10:07:37,2017-05-12 10:20:02,3323,W 106 St & Central Park West,40.798186,-73.960591,3318,2 Ave & E 96 St,40.783964,-73.947167,18197,NaN,Subscriber,1964,1,1.943690

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf
3750,282,2017-05-12 10:07:38,2017-05-12 10:12:20,274,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3414,Bergen St & Flatbush Ave,40.680945,-73.975673,25546,NaN,Subscriber,1981,1,0.669693
3751,301,2017-05-12 10:07:38,2017-05-12 10:12:40,536,1 Ave & E 30 St,40.741444,-73.975361,537,Lexington Ave & E 24 St,40.740259,-73.984092,28869,NaN,Subscriber,1970,1,0.747315
3752,743,2017-05-12 10:07:38,2017-05-12 10:20:02,3076,Scholes St & Manhattan Ave,40.708704,-73.944862,3113,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,27428,NaN,Subscriber,1976,1,2.516075
3753,1056,2017-05-12 10:07:39,2017-05-12 10:25:16,3387,E 106 St & Madison Ave,40.793434,-73.949450,3137,5 Ave & E 73 St,40.772828,-73.966853,20953,NaN,Customer,<NA>,0,2.719676
3754,1044,2017-05-12 10:07:39,2017-05-12 10:25:04,3387,E 106 St & Madison Ave,40.793434,-73.949450,3137,5 Ave & E 73 St,40.772828,-73.966853,20638,NaN,Customer,<NA>,0,2.719676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4370,1175,2016-04-23 16:31:46,2016-04-23 16:51:21,223,W 13 St & 7 Ave,40.737815,-73.999947,307,Canal St & Rutgers St,40.714275,-73.989900,16783,NaN,Subscriber,1982,1,2.751052
4371,751,2016-04-23 16:31:47,2016-04-23 16:44:19,442,W 27 St & 7 Ave,40.746647,-73.993915,168,W 18 St & 6 Ave,40.739713,-73.994564,15182,NaN,Customer,<NA>,0,0.772961
4372,913,2016-04-23 16:31:47,2016-04-23 16:47:01,2021,W 45 St & 8 Ave,40.759291,-73.988597,459,W 20 St & 11 Ave,40.746745,-74.007756,23125,NaN,Subscriber,1985,1,2.133267
4373,789,2016-04-23 16:31:51,2016-04-23 16:45:00,3120,Center Blvd & Borden Ave,40.741610,-73.960440,3120,Center Blvd & Borden Ave,40.741610,-73.960440,23274,NaN,Customer,<NA>,0,0.000000
4374,2024,2016-04-23 16:31:53,2016-04-23 17:05:38,247,Perry St & Bleecker St,40.735354,-74.004831,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,20064,NaN,Subscriber,1982,1,5.035754

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf
4375,970,2016-04-23 16:31:53,2016-04-23 16:48:04,382,University Pl & E 14 St,40.734927,-73.992005,303,Mercer St & Spring St,40.723627,-73.999496,18929,NaN,Customer,<NA>,0,1.406097
4376,447,2016-04-23 16:31:54,2016-04-23 16:39:21,128,MacDougal St & Prince St,40.727103,-74.002971,346,Bank St & Hudson St,40.736529,-74.006180,23011,NaN,Subscriber,1989,1,1.082480
4377,1135,2016-04-23 16:31:54,2016-04-23 16:50:50,384,Fulton St & Washington Ave,40.683048,-73.964915,157,Henry St & Atlantic Ave,40.690893,-73.996123,17910,NaN,Subscriber,1967,1,2.772224
4378,1990,2016-04-23 16:31:56,2016-04-23 17:05:07,315,South St & Gouverneur Ln,40.703554,-74.006702,3159,W 67 St & Broadway,40.774925,-73.982666,16270,NaN,Subscriber,1974,1,8.190438
4379,2317,2016-04-23 16:31:56,2016-04-23 17:10:34,405,Washington St & Gansevoort St,40.739323,-74.008119,392,Jay St & Tech Pl,40.695065,-73.987167,14698,NaN,Customer,<NA>,0,5.228474
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,538,2017-05-12 10:12:59,2017-05-12 10:21:58,3428,8 Ave & W 16 St,40.740983,-74.001702,3255,8 Ave & W 31 St,40.750585,-73.994685,19489,NaN,Customer,<NA>,0,1.220453
4996,1261,2017-05-12 10:13:00,2017-05-12 10:34:01,236,St Marks Pl & 2 Ave,40.728419,-73.987140,441,E 52 St & 2 Ave,40.756014,-73.967416,26994,NaN,Subscriber,1994,2,3.489498
4997,755,2017-05-12 10:13:01,2017-05-12 10:25:37,306,Cliff St & Fulton St,40.708235,-74.005301,265,Stanton St & Chrystie St,40.722293,-73.991475,28148,NaN,Subscriber,1990,2,1.949718
4998,305,2017-05-12 10:13:02,2017-05-12 10:18:07,482,W 15 St & 7 Ave,40.739355,-73.999318,496,E 16 St & 5 Ave,40.737262,-73.992390,21109,NaN,Subscriber,1973,2,0.628421
4999,993,2017-05-12 10:13:02,2017-05-12 10:29:35,3141,1 Ave & E 68 St,40.765005,-73.958185,528,2 Ave & E 31 St,40.742909,-73.977061,18336,NaN,Subscriber,1991,1,2.926553

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf
5000,351,2017-05-12 10:13:04,2017-05-12 10:18:56,3311,Columbia St & Kane St,40.687632,-74.001626,3180,Brooklyn Bridge Park - Pier 2,40.698780,-73.997120,20732,NaN,Subscriber,1977,2,1.296546
5001,262,2017-05-12 10:13:06,2017-05-12 10:17:28,3146,E 81 St & 3 Ave,40.775730,-73.956753,3143,5 Ave & E 78 St,40.776321,-73.964274,16097,NaN,Subscriber,1958,1,0.636730
5002,1850,2017-05-12 10:13:07,2017-05-12 10:43:57,311,Norfolk St & Broome St,40.717227,-73.988021,304,Broadway & Battery Pl,40.704633,-74.013617,15319,NaN,Customer,<NA>,0,2.572079
5003,1674,2017-05-12 10:13:07,2017-05-12 10:41:01,3311,Columbia St & Kane St,40.687632,-74.001626,3263,Cooper Square & E 7 St,40.729236,-73.990868,20143,NaN,Subscriber,1974,1,4.714285
5004,656,2017-05-12 10:13:09,2017-05-12 10:24:06,465,Broadway & W 41 St,40.755136,-73.986580,3223,E 55 St & 3 Ave,40.758997,-73.968654,27314,NaN,Subscriber,1970,1,1.569758
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5620,616,2017-10-11 16:30:55,2017-10-11 16:41:11,3233,E 48 St & 5 Ave,40.757246,-73.978059,3641,Broadway & W 25 St,40.742869,-73.989186,25129,NaN,Subscriber,1970,1,1.853164
5621,407,2017-10-11 16:30:56,2017-10-11 16:37:44,3103,N 11 St & Wythe Ave,40.721533,-73.957824,3094,Graham Ave & Withers St,40.716981,-73.944859,16145,NaN,Subscriber,1989,2,1.204120
5622,788,2017-10-11 16:30:57,2017-10-11 16:44:05,3158,W 63 St & Broadway,40.771639,-73.982614,479,9 Ave & W 45 St,40.760193,-73.991255,27849,NaN,Customer,<NA>,0,1.466088
5623,803,2017-10-11 16:30:57,2017-10-11 16:44:21,3158,W 63 St & Broadway,40.771639,-73.982614,479,9 Ave & W 45 St,40.760193,-73.991255,26608,NaN,Customer,<NA>,0,1.466088
5624,822,2017-10-11 16:30:58,2017-10-11 16:44:40,3134,3 Ave & E 62 St,40.763126,-73.965269,3305,E 91 St & 2 Ave,40.781122,-73.949656,18761,NaN,Subscriber,1979,1,2.394383

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf
5625,877,2017-10-11 16:30:58,2017-10-11 16:45:35,3359,E 68 St & Madison Ave,40.769157,-73.967035,468,Broadway & W 56 St,40.765265,-73.981923,15877,NaN,Subscriber,1980,1,1.326441
5626,343,2017-10-11 16:30:59,2017-10-11 16:36:42,485,W 37 St & 5 Ave,40.750380,-73.983390,173,Broadway & W 49 St,40.760683,-73.984527,18432,NaN,Subscriber,1979,1,1.149660
5627,178,2017-10-11 16:30:59,2017-10-11 16:33:57,3073,Division Ave & Hooper St,40.706913,-73.954417,3082,Hope St & Union Ave,40.711674,-73.951413,26929,NaN,Subscriber,1967,1,0.586816
5628,370,2017-10-11 16:31:00,2017-10-11 16:37:11,519,Pershing Square North,40.751873,-73.977706,498,Broadway & W 32 St,40.748549,-73.988084,32386,NaN,Subscriber,1953,1,0.949166
5629,377,2017-10-11 16:31:00,2017-10-11 16:37:18,3143,5 Ave & E 78 St,40.776321,-73.964274,3165,Central Park West & W 72 St,40.775794,-73.976206,21332,NaN,Subscriber,1962,2,1.006422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6245,170,2017-10-11 16:34:31,2017-10-11 16:37:21,344,Monroe St & Bedford Ave,40.685144,-73.953809,437,Macon St & Nostrand Ave,40.680983,-73.950048,31647,NaN,Subscriber,1973,1,0.560932
6246,379,2017-10-11 16:34:31,2017-10-11 16:40:50,3041,Kingston Ave & Herkimer St,40.678907,-73.941428,396,Lefferts Pl & Franklin Ave,40.680342,-73.955769,32385,NaN,Subscriber,1986,2,1.219836
6247,1756,2017-10-11 16:34:31,2017-10-11 17:03:48,3141,1 Ave & E 68 St,40.765005,-73.958185,445,E 10 St & Avenue A,40.727408,-73.981420,20160,NaN,Subscriber,1962,2,4.616168
6248,521,2017-10-11 16:34:33,2017-10-11 16:43:15,268,Howard St & Centre St,40.719105,-73.999733,2009,Catherine St & Monroe St,40.711174,-73.996826,21490,NaN,Subscriber,1976,1,0.915285
6249,825,2016-09-21 15:03:16,2016-09-21 15:17:01,157,Henry St & Atlantic Ave,40.690893,-73.996123,353,S Portland Ave & Hanson Pl,40.685396,-73.974315,20131,NaN,Subscriber,1951,1,1.937764

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf
6250,948,2016-09-21 15:03:16,2016-09-21 15:19:05,174,E 25 St & 1 Ave,40.738177,-73.977387,3230,Penn Station Valet,40.751284,-73.996924,25134,NaN,Subscriber,1968,2,2.198472
6251,1711,2016-09-21 15:03:18,2016-09-21 15:31:49,241,DeKalb Ave & S Portland Ave,40.689810,-73.974931,297,E 15 St & 3 Ave,40.734232,-73.986923,20014,NaN,Subscriber,1967,1,5.041812
6252,723,2016-09-21 15:03:19,2016-09-21 15:15:22,449,W 52 St & 9 Ave,40.764618,-73.987895,478,11 Ave & W 41 St,40.760301,-73.998842,25658,NaN,Customer,1986,2,1.039511
6253,331,2016-09-21 15:03:20,2016-09-21 15:08:52,540,Lexington Ave & E 29 St,40.743116,-73.982154,474,5 Ave & E 29 St,40.745168,-73.986831,25365,NaN,Subscriber,1976,0,0.455337
6254,1188,2016-09-21 15:03:23,2016-09-21 15:23:11,254,W 11 St & 6 Ave,40.735324,-73.998004,150,E 2 St & Avenue C,40.720874,-73.980858,21661,NaN,Subscriber,1967,2,2.160896
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6870,1699,2017-05-12 10:18:51,2017-05-12 10:47:10,453,W 22 St & 8 Ave,40.744751,-73.999154,453,W 22 St & 8 Ave,40.744751,-73.999154,19966,NaN,Subscriber,1952,1,0.000000
6871,366,2017-05-12 10:18:52,2017-05-12 10:24:59,470,W 20 St & 8 Ave,40.743453,-74.000040,490,8 Ave & W 33 St,40.751551,-73.993934,18392,NaN,Subscriber,1988,1,1.036995
6872,1683,2017-05-12 10:18:53,2017-05-12 10:46:56,229,Great Jones St,40.727434,-73.993790,508,W 46 St & 11 Ave,40.763414,-73.996674,29151,NaN,Subscriber,1953,1,4.008116
6873,169,2017-05-12 10:18:53,2017-05-12 10:21:43,380,W 4 St & 7 Ave S,40.734011,-74.002939,358,Christopher St & Greenwich St,40.732916,-74.007114,26594,NaN,Subscriber,1964,2,0.372293
6874,1280,2017-05-12 10:18:55,2017-05-12 10:40:15,151,Cleveland Pl & Spring St,40.722104,-73.997249,153,E 40 St & 5 Ave,40.752062,-73.981632,17273,NaN,Subscriber,1961,1,3.581668

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf
6875,1054,2017-05-12 10:18:56,2017-05-12 10:36:31,285,Broadway & E 14 St,40.734546,-73.990741,285,Broadway & E 14 St,40.734546,-73.990741,29195,NaN,Subscriber,1977,1,0.000000
6876,363,2017-05-12 10:18:56,2017-05-12 10:24:59,496,E 16 St & 5 Ave,40.737262,-73.992390,127,Barrow St & Hudson St,40.731724,-74.006744,21403,NaN,Subscriber,1963,1,1.357203
6877,949,2017-05-12 10:18:56,2017-05-12 10:34:45,3310,14 St & 7 Ave,40.663779,-73.983968,467,Dean St & 4 Ave,40.683125,-73.978951,25206,NaN,Subscriber,1965,1,2.192381
6878,188,2017-05-12 10:18:57,2017-05-12 10:22:06,316,Fulton St & William St,40.709560,-74.006536,387,Centre St & Chambers St,40.712733,-74.004607,28569,NaN,Subscriber,1955,1,0.388483
6879,851,2017-05-12 10:18:58,2017-05-12 10:33:09,3440,Fulton St & Adams St,40.692418,-73.989495,146,Hudson St & Reade St,40.716250,-74.009106,20382,NaN,Customer,<NA>,0,3.123330
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,723,2017-10-11 16:37:42,2017-10-11 16:49:46,310,State St & Smith St,40.689269,-73.989129,2000,Front St & Washington St,40.702551,-73.989402,17993,NaN,Subscriber,1989,2,1.477011
7496,450,2017-10-11 16:37:42,2017-10-11 16:45:13,505,6 Ave & W 33 St,40.749013,-73.988484,523,W 38 St & 8 Ave,40.754666,-73.991382,19795,NaN,Subscriber,1966,1,0.674330
7497,464,2017-10-11 16:37:43,2017-10-11 16:45:28,380,W 4 St & 7 Ave S,40.734011,-74.002939,509,9 Ave & W 22 St,40.745497,-74.001971,27488,NaN,Subscriber,1973,1,1.279768
7498,744,2017-10-11 16:37:43,2017-10-11 16:50:08,415,Pearl St & Hanover Square,40.704718,-74.009260,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,15377,NaN,Subscriber,1992,1,2.877026
7499,1032,2017-10-11 16:37:43,2017-10-11 16:54:56,461,E 20 St & 2 Ave,40.735877,-73.982050,3256,Pier 40 - Hudson River Park,40.727714,-74.011296,17335,NaN,Subscriber,1968,1,2.626079

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf
7500,526,2017-10-11 16:37:46,2017-10-11 16:46:33,421,Clermont Ave & Park Ave,40.695734,-73.971297,397,Fulton St & Clermont Ave,40.684157,-73.969223,19966,NaN,Subscriber,1978,1,1.299071
7501,1286,2017-10-11 16:37:47,2017-10-11 16:59:13,479,9 Ave & W 45 St,40.760193,-73.991255,458,11 Ave & W 27 St,40.751396,-74.005226,32140,NaN,Customer,<NA>,0,1.530203
7502,884,2017-10-11 16:37:49,2017-10-11 16:52:34,503,E 20 St & Park Ave,40.738274,-73.987520,487,E 20 St & FDR Drive,40.733143,-73.975739,16050,NaN,Subscriber,1990,2,1.144930
7503,404,2017-10-11 16:37:49,2017-10-11 16:44:33,3244,University Pl & E 8 St,40.731437,-73.994903,265,Stanton St & Chrystie St,40.722293,-73.991475,30827,NaN,Customer,<NA>,0,1.056982
7504,1635,2017-10-11 16:37:51,2017-10-11 17:05:07,368,Carmine St & 6 Ave,40.730386,-74.002150,2008,Little West St & 1 Pl,40.705693,-74.016777,18502,NaN,Customer,<NA>,0,3.009811
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8120,833,2016-09-21 15:14:04,2016-09-21 15:27:57,3108,Nassau Ave & Russell St,40.725570,-73.944340,3016,Kent Ave & N 7 St,40.720368,-73.961651,27281,NaN,Subscriber,1986,2,1.569308
8121,480,2016-09-21 15:14:06,2016-09-21 15:22:07,540,Lexington Ave & E 29 St,40.743116,-73.982154,485,W 37 St & 5 Ave,40.750380,-73.983390,20690,NaN,Subscriber,1974,1,0.814466
8122,1492,2016-09-21 15:14:06,2016-09-21 15:38:58,3168,Central Park West & W 85 St,40.784727,-73.969617,2006,Central Park S & 6 Ave,40.765909,-73.976342,21140,NaN,Customer,<NA>,0,2.167659
8123,310,2016-09-21 15:14:07,2016-09-21 15:19:18,3405,5 St & 6 Ave,40.670484,-73.982090,3361,Carroll St & 6 Ave,40.674089,-73.978728,26029,NaN,Subscriber,1972,1,0.490974
8124,647,2016-09-21 15:14:08,2016-09-21 15:24:56,280,E 10 St & 5 Ave,40.733320,-73.995101,509,9 Ave & W 22 St,40.745497,-74.001971,19648,NaN,Subscriber,1958,1,1.472610

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf
8125,1068,2016-09-21 15:14:09,2016-09-21 15:31:57,461,E 20 St & 2 Ave,40.735877,-73.982050,526,E 33 St & 5 Ave,40.747659,-73.984907,14855,NaN,Subscriber,1986,1,1.332098
8126,359,2016-09-21 15:14:09,2016-09-21 15:20:08,486,Broadway & W 29 St,40.746201,-73.988557,497,E 17 St & Broadway,40.737050,-73.990093,25592,NaN,Subscriber,1954,2,1.025744
8127,502,2016-09-21 15:14:14,2016-09-21 15:22:37,2006,Central Park S & 6 Ave,40.765909,-73.976342,477,W 41 St & 8 Ave,40.756405,-73.990026,25490,NaN,Subscriber,1955,1,1.563715
8128,1394,2016-09-21 15:14:15,2016-09-21 15:37:30,414,Pearl St & Anchorage Pl,40.702819,-73.987658,414,Pearl St & Anchorage Pl,40.702819,-73.987658,25129,NaN,Subscriber,1971,1,0.000000
8129,204,2016-09-21 15:14:17,2016-09-21 15:17:42,509,9 Ave & W 22 St,40.745497,-74.001971,3428,8 Ave & W 16 St,40.740983,-74.001702,21332,NaN,Subscriber,1992,1,0.502480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8745,848,2014-05-10 20:27:45,2014-05-10 20:41:53,317,E 6 St & Avenue B,40.724537,-73.981854,345,W 13 St & 6 Ave,40.736494,-73.997044,20693,NaN,Customer,<NA>,0,1.845474
8746,852,2014-05-10 20:27:49,2014-05-10 20:42:01,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,262,Washington Park,40.691782,-73.973730,18707,NaN,Subscriber,1986,1,0.218351
8747,571,2014-05-10 20:27:50,2014-05-10 20:37:21,415,Pearl St & Hanover Square,40.704718,-74.009260,268,Howard St & Centre St,40.719105,-73.999733,18943,NaN,Subscriber,1973,1,1.790043
8748,1250,2014-05-10 20:27:56,2014-05-10 20:48:46,303,Mercer St & Spring St,40.723627,-73.999496,494,W 26 St & 8 Ave,40.747348,-73.997236,17103,NaN,Customer,<NA>,0,2.644508
8749,1285,2014-05-10 20:28:03,2014-05-10 20:49:28,441,E 52 St & 2 Ave,40.756014,-73.967416,312,Allen St & E Houston St,40.722055,-73.989111,19298,NaN,Subscriber,1986,1,4.195195

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf
8750,820,2014-05-10 20:28:08,2014-05-10 20:41:48,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,262,Washington Park,40.691782,-73.973730,16933,NaN,Subscriber,1987,1,0.218351
8751,497,2014-05-10 20:28:10,2014-05-10 20:36:27,438,St Marks Pl & 1 Ave,40.727791,-73.985649,335,Washington Pl & Broadway,40.729039,-73.994046,18899,NaN,Subscriber,1981,1,0.721052
8752,484,2014-05-10 20:28:12,2014-05-10 20:36:16,368,Carmine St & 6 Ave,40.730386,-74.002150,127,Barrow St & Hudson St,40.731724,-74.006744,15983,NaN,Subscriber,1990,2,0.414753
8753,690,2014-05-10 20:28:19,2014-05-10 20:39:49,303,Mercer St & Spring St,40.723627,-73.999496,426,West St & Chambers St,40.717548,-74.013221,21285,NaN,Subscriber,1965,1,1.339680
8754,467,2014-05-10 20:28:20,2014-05-10 20:36:07,312,Allen St & E Houston St,40.722055,-73.989111,297,E 15 St & 3 Ave,40.734232,-73.986923,20512,NaN,Subscriber,1982,1,1.366516
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9370,1347,2014-01-24 23:31:26,2014-01-24 23:53:53,2010,Grand St & Greene St,40.721655,-74.002347,518,E 39 St & 2 Ave,40.747804,-73.973442,18728,NaN,Subscriber,1983,1,3.792870
9371,523,2014-01-24 23:31:33,2014-01-24 23:40:16,467,Dean St & 4 Ave,40.683125,-73.978951,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,19865,NaN,Subscriber,1983,1,1.261218
9372,1791,2014-01-24 23:31:42,2014-01-25 00:01:33,352,W 56 St & 6 Ave,40.763406,-73.977225,355,Bayard St & Baxter St,40.716021,-73.999744,19976,NaN,Subscriber,1979,2,5.600132
9373,294,2014-01-24 23:31:55,2014-01-24 23:36:49,529,W 42 St & 8 Ave,40.757570,-73.990985,478,11 Ave & W 41 St,40.760301,-73.998842,20282,NaN,Subscriber,1979,1,0.728128
9374,214,2014-01-24 23:31:56,2014-01-24 23:35:30,311,orfolk St & Broome St,40.717227,-73.988021,361,Allen St & Hester St,40.716059,-73.991908,17666,NaN,Subscriber,1994,1,0.352411

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf
9375,300,2014-01-24 23:32:00,2014-01-24 23:37:00,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,290,2 Ave & E 58 St,40.760203,-73.964785,17225,NaN,Subscriber,1985,1,0.884976
9376,314,2014-01-24 23:32:16,2014-01-24 23:37:30,445,E 10 St & Avenue A,40.727408,-73.981420,428,E 3 St & 1 Ave,40.724677,-73.987834,16248,NaN,Subscriber,1983,1,0.619950
9377,745,2014-01-24 23:32:31,2014-01-24 23:44:56,396,Lefferts Pl & Franklin Ave,40.680342,-73.955769,409,DeKalb Ave & Skillman St,40.690649,-73.956431,16857,NaN,Subscriber,1980,1,1.147454
9378,393,2014-01-24 23:32:33,2014-01-24 23:39:06,469,Broadway & W 53 St,40.763441,-73.982681,468,Broadway & W 55 St,40.765265,-73.981923,21165,NaN,Subscriber,1982,1,0.212714
9379,1158,2014-01-24 23:32:41,2014-01-24 23:51:59,387,Centre St & Chambers St,40.712733,-74.004607,127,Barrow St & Hudson St,40.731724,-74.006744,21405,NaN,Subscriber,1960,1,2.119437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1293,2017-05-12 10:24:06,2017-05-12 10:45:40,530,11 Ave & W 59 St,40.771522,-73.990541,474,5 Ave & E 29 St,40.745168,-73.986831,28359,NaN,Subscriber,1979,1,2.947080
9996,404,2017-05-12 10:24:12,2017-05-12 10:30:57,3223,E 55 St & 3 Ave,40.758997,-73.968654,3141,1 Ave & E 68 St,40.765005,-73.958185,26854,NaN,Subscriber,1974,1,1.106277
9997,1842,2017-05-12 10:24:14,2017-05-12 10:54:56,497,E 17 St & Broadway,40.737050,-73.990093,530,11 Ave & W 59 St,40.771522,-73.990541,26078,NaN,Subscriber,1956,2,3.833315
9998,335,2017-05-12 10:24:16,2017-05-12 10:29:52,3411,Bond St & Bergen St,40.684967,-73.986208,3232,Bond St & Fulton St,40.689622,-73.983043,16244,NaN,Subscriber,1961,2,0.582366
9999,264,2017-05-12 10:24:18,2017-05-12 10:28:43,383,Greenwich Ave & Charles St,40.735238,-74.000271,435,W 21 St & 6 Ave,40.741740,-73.994156,17031,NaN,Subscriber,1968,1,0.887769

In [5]:
import numpy as np
@bodo.jit()
def haversine_np(x):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)

    All args must be of equal length.    

    """
    lon1, lat1, lon2, lat2 = map(np.radians, [x["start_station_longitude"], x["start_station_latitude"], x["end_station_longitude"], x["end_station_latitude"]])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c
    return km

In [6]:
@bodo.jit()
def calculuate_haversine(df):
    df["distance_in_km"]=df.apply(haversine_np,axis=1)
    return df
df=calculuate_haversine(df)
df

[stderr:0]
/opt/conda/lib/python3.9/site-packages/bodo/hiframes/boxing.py:871: BodoWarning: Empty object array passed to Bodo, which causes ambiguity in typing. This can cause errors in parallel execution.
  warnings.warn(BodoWarning(
[stderr:1]
/opt/conda/lib/python3.9/site-packages/bodo/hiframes/boxing.py:871: BodoWarning: Empty object array passed to Bodo, which causes ambiguity in typing. This can cause errors in parallel execution.
  warnings.warn(BodoWarning(
[stderr:2]
/opt/conda/lib/python3.9/site-packages/bodo/hiframes/boxing.py:871: BodoWarning: Empty object array passed to Bodo, which causes ambiguity in typing. This can cause errors in parallel execution.
  warnings.warn(BodoWarning(
[stderr:3]
/opt/conda/lib/python3.9/site-packages/bodo/hiframes/boxing.py:871: BodoWarning: Empty object array passed to Bodo, which causes ambiguity in typing. This can cause errors in parallel execution.
  warnings.warn(BodoWarning(
[stderr:4]
/opt/conda/lib/python3.9/site-packages/bodo/hiframes/boxing.py:871: BodoWarning: Empty object array passed to Bodo, which causes ambiguity in typing. This can cause errors in parallel execution.
  warnings.warn(BodoWarning(
[stderr:5]
/opt/conda/lib/python3.9/site-packages/bodo/hiframes/boxing.py:871: BodoWarning: Empty object array passed to Bodo, which causes ambiguity in typing. This can cause errors in parallel execution.
  warnings.warn(BodoWarning(
[stderr:6]
/opt/conda/lib/python3.9/site-packages/bodo/hiframes/boxing.py:871: BodoWarning: Empty object array passed to Bodo, which causes ambiguity in typing. This can cause errors in parallel execution.
  warnings.warn(BodoWarning(
[stderr:9]
/opt/conda/lib/python3.9/site-packages/bodo/hiframes/boxing.py:871: BodoWarning: Empty object array passed to Bodo, which causes ambiguity in typing. This can cause errors in parallel execution.
  warnings.warn(BodoWarning(
[stderr:12]
/opt/conda/lib/python3.9/site-packages/bodo/hiframes/boxing.py:871: BodoWarning: Empty object array passed to Bodo, which causes ambiguity in typing. This can cause errors in parallel execution.
  warnings.warn(BodoWarning(
[stderr:14]
/opt/conda/lib/python3.9/site-packages/bodo/hiframes/boxing.py:871: BodoWarning: Empty object array passed to Bodo, which causes ambiguity in typing. This can cause errors in parallel execution.
  warnings.warn(BodoWarning(

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf,distance_in_km
0,836,2016-07-12 07:24:14,2016-07-12 07:38:10,3145,E 84 St & Park Ave,40.778627,-73.957721,228,E 48 St & 3 Ave,40.754601,-73.971879,25132,NaN,Subscriber,1964,1,2.925549,2.923712
1,1494,2016-07-12 07:24:15,2016-07-12 07:49:09,224,Spruce St & Nassau St,40.711464,-74.005524,224,Spruce St & Nassau St,40.711464,-74.005524,22408,NaN,Customer,<NA>,0,0.000000,0.000000
2,1164,2016-07-12 07:24:16,2016-07-12 07:43:41,511,E 14 St & Avenue B,40.729387,-73.977724,362,Broadway & W 37 St,40.751726,-73.987535,25308,NaN,Subscriber,1976,1,2.617946,2.616303
3,472,2016-07-12 07:24:16,2016-07-12 07:32:08,3163,Central Park West & W 68 St,40.773407,-73.977825,499,Broadway & W 60 St,40.769155,-73.981918,20164,NaN,Subscriber,1970,1,0.585058,0.584690
4,1026,2016-07-12 07:24:18,2016-07-12 07:41:25,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,327,Vesey Pl & River Terrace,40.715338,-74.016584,21538,NaN,Customer,<NA>,0,2.883339,2.881529
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620,627,2016-10-03 09:22:49,2016-10-03 09:33:17,359,E 47 St & Park Ave,40.755103,-73.974987,466,W 25 St & 6 Ave,40.743954,-73.991449,24964,NaN,Subscriber,1978,1,1.860031,1.858863
621,1285,2016-10-03 09:22:49,2016-10-03 09:44:14,420,Clermont Ave & Lafayette Ave,40.687645,-73.969689,387,Centre St & Chambers St,40.712733,-74.004607,20925,NaN,Subscriber,1983,1,4.055493,4.052946
622,410,2016-10-03 09:22:51,2016-10-03 09:29:42,446,W 24 St & 7 Ave,40.744876,-73.995299,540,Lexington Ave & E 29 St,40.743116,-73.982154,19526,NaN,Subscriber,1993,2,1.124601,1.123895
623,324,2016-10-03 09:22:52,2016-10-03 09:28:16,3161,W 76 St & Columbus Ave,40.780184,-73.977285,3167,Amsterdam Ave & W 73 St,40.779668,-73.980930,14580,NaN,Subscriber,1955,1,0.312232,0.312036
624,611,2016-10-03 09:22:53,2016-10-03 09:33:04,492,W 33 St & 7 Ave,40.750200,-73.990931,359,E 47 St & Park Ave,40.755103,-73.974987,27096,NaN,Subscriber,1973,1,1.449446,1.448536

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf,distance_in_km
625,216,2016-10-03 09:22:54,2016-10-03 09:26:30,417,Barclay St & Church St,40.712912,-74.010202,330,Reade St & Broadway,40.714505,-74.005628,20036,NaN,Subscriber,1959,1,0.424260,0.423993
626,290,2016-10-03 09:22:54,2016-10-03 09:27:44,3263,Cooper Square & E 7 St,40.729236,-73.990868,503,E 20 St & Park Ave,40.738274,-73.987520,14621,NaN,Subscriber,1960,1,1.043806,1.043150
627,366,2016-10-03 09:22:55,2016-10-03 09:29:02,251,Mott St & Prince St,40.723180,-73.994800,335,Washington Pl & Broadway,40.729039,-73.994046,14900,NaN,Subscriber,1990,1,0.654644,0.654233
628,469,2016-10-03 09:22:55,2016-10-03 09:30:45,484,W 44 St & 5 Ave,40.755003,-73.980144,442,W 27 St & 7 Ave,40.746647,-73.993915,22030,NaN,Subscriber,1979,1,1.486198,1.485265
629,634,2016-10-03 09:22:55,2016-10-03 09:33:29,2012,E 27 St & 1 Ave,40.739445,-73.976806,164,E 47 St & 2 Ave,40.753231,-73.970325,19874,NaN,Subscriber,1960,2,1.627252,1.626230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1245,2063,2016-10-03 09:25:38,2016-10-03 10:00:02,3403,4 Ave & 9 St,40.670513,-73.988766,348,W Broadway & Spring St,40.724910,-74.001547,24327,NaN,Subscriber,1984,1,6.143821,6.139964
1246,277,2016-10-03 09:25:39,2016-10-03 09:30:16,345,W 13 St & 6 Ave,40.736494,-73.997044,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,25292,NaN,Subscriber,1997,1,0.819237,0.818723
1247,268,2015-03-29 12:16:00,2015-03-29 12:20:00,523,W 38 St & 8 Ave,40.754666,-73.991382,379,W 31 St & 7 Ave,40.749156,-73.991600,15989,NaN,Subscriber,1974,1,0.612950,0.612566
1248,751,2015-03-29 12:17:00,2015-03-29 12:30:00,212,W 16 St & The High Line,40.743349,-74.006818,478,11 Ave & W 41 St,40.760301,-73.998842,20836,NaN,Subscriber,1977,2,2.001072,1.999816
1249,752,2015-03-29 12:17:00,2015-03-29 12:30:00,212,W 16 St & The High Line,40.743349,-74.006818,478,11 Ave & W 41 St,40.760301,-73.998842,20086,NaN,Subscriber,1983,1,2.001072,1.999816

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf,distance_in_km
1250,612,2015-03-29 12:17:00,2015-03-29 12:27:00,223,W 13 St & 7 Ave,40.737815,-73.999947,507,E 25 St & 2 Ave,40.739126,-73.979738,15616,NaN,Subscriber,1949,1,1.708864,1.707791
1251,3197,2015-03-29 12:17:00,2015-03-29 13:10:00,238,Bank St & Washington St,40.736197,-74.008592,345,W 13 St & 6 Ave,40.736494,-73.997044,15531,NaN,Subscriber,1973,2,0.973562,0.972951
1252,317,2015-03-29 12:17:00,2015-03-29 12:23:00,334,W 20 St & 7 Ave,40.742388,-73.997262,383,Greenwich Ave & Charles St,40.735238,-74.000271,21526,NaN,Subscriber,1972,1,0.834461,0.833937
1253,202,2015-03-29 12:17:00,2015-03-29 12:20:00,348,W Broadway & Spring St,40.724910,-74.001547,368,Carmine St & 6 Ave,40.730386,-74.002150,15462,NaN,Subscriber,1986,1,0.611034,0.610651
1254,269,2015-03-29 12:17:00,2015-03-29 12:21:00,365,Fulton St & Grand Ave,40.682232,-73.961458,364,Lafayette Ave & Classon Ave,40.689004,-73.960239,14903,NaN,Subscriber,1983,2,0.760088,0.759611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1870,195,2013-10-18 14:36:48,2013-10-18 14:40:03,474,5 Ave & E 29 St,40.745168,-73.986831,526,E 33 St & 5 Ave,40.747659,-73.984907,15376,NaN,Subscriber,1987,1,0.320985,0.320783
1871,688,2013-10-18 14:36:49,2013-10-18 14:48:17,146,Hudson St & Reade St,40.716250,-74.009106,346,Bank St & Hudson St,40.736529,-74.006180,18910,NaN,Subscriber,1981,1,2.268338,2.266914
1872,383,2013-10-18 14:36:49,2013-10-18 14:43:12,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,499,Broadway & W 60 St,40.769155,-73.981918,18376,NaN,Subscriber,1972,1,0.870191,0.869644
1873,620,2013-10-18 14:36:49,2013-10-18 14:47:09,368,Carmine St & 6 Ave,40.730386,-74.002150,168,W 18 St & 6 Ave,40.739713,-73.994564,18819,NaN,Subscriber,1985,1,1.218249,1.217484
1874,386,2013-10-18 14:36:49,2013-10-18 14:43:15,385,E 55 St & 2 Ave,40.757973,-73.966033,455,1 Ave & E 44 St,40.750020,-73.969053,18745,NaN,Subscriber,1971,1,0.920230,0.919652

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf,distance_in_km
1875,860,2013-10-18 14:36:52,2013-10-18 14:51:12,508,W 46 St & 11 Ave,40.763414,-73.996674,493,W 45 St & 6 Ave,40.756800,-73.982912,16131,NaN,Subscriber,1966,1,1.372776,1.371914
1876,381,2013-10-18 14:36:55,2013-10-18 14:43:16,347,W Houston St & Hudson St,40.728739,-74.007488,323,Lawrence St & Willoughby St,40.692362,-73.986317,16640,NaN,Subscriber,1978,1,4.421069,4.418293
1877,297,2013-10-18 14:36:57,2013-10-18 14:41:54,469,Broadway & W 53 St,40.763441,-73.982681,520,W 52 St & 5 Ave,40.759923,-73.976485,15854,NaN,Subscriber,1990,1,0.652191,0.651781
1878,411,2013-10-18 14:36:59,2013-10-18 14:43:50,357,E 11 St & Broadway,40.732618,-73.991580,2003,1 Ave & E 18 St,40.734161,-73.980243,14660,NaN,Subscriber,1955,1,0.970563,0.969954
1879,482,2013-10-18 14:37:00,2013-10-18 14:45:02,382,University Pl & E 14 St,40.734927,-73.992005,336,Sullivan St & Washington Sq,40.730477,-73.999061,20650,NaN,Subscriber,1991,2,0.773442,0.772957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,2107,2013-10-18 14:37:55,2013-10-18 15:13:02,264,Maiden Ln & Pearl St,40.707065,-74.007319,411,E 6 St & Avenue D,40.722281,-73.976687,18407,NaN,Subscriber,1969,2,3.086725,3.084787
2496,1409,2013-10-18 14:37:55,2013-10-18 15:01:24,2000,Front St & Washington St,40.702551,-73.989402,459,W 20 St & 11 Ave,40.746745,-74.007756,19342,NaN,Subscriber,1988,2,5.151807,5.148573
2497,183,2013-10-18 14:37:58,2013-10-18 14:41:01,147,Greenwich St & Warren St,40.715422,-74.011220,276,Duane St & Greenwich St,40.717488,-74.010455,19972,NaN,Subscriber,1967,1,0.238542,0.238393
2498,1764,2013-10-18 14:37:58,2013-10-18 15:07:22,337,Old Slip & Front St,40.703799,-74.008387,305,E 58 St & 3 Ave,40.760958,-73.967245,19683,NaN,Subscriber,1980,1,7.239656,7.235111
2499,750,2013-10-18 14:37:59,2013-10-18 14:50:29,484,W 44 St & 5 Ave,40.755003,-73.980144,521,8 Ave & W 31 St,40.750450,-73.994811,18141,NaN,Customer,<NA>,0,1.335080,1.334242

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf,distance_in_km
2500,190,2013-10-18 14:38:02,2013-10-18 14:41:12,305,E 58 St & 3 Ave,40.760958,-73.967245,385,E 55 St & 2 Ave,40.757973,-73.966033,17005,NaN,Subscriber,1970,1,0.347179,0.346962
2501,708,2013-10-18 14:38:04,2013-10-18 14:49:52,137,E 56 St & Madison Ave,40.761628,-73.972924,508,W 46 St & 11 Ave,40.763414,-73.996674,16257,NaN,Subscriber,1974,1,2.010130,2.008868
2502,456,2013-10-18 14:38:08,2013-10-18 14:45:44,458,11 Ave & W 27 St,40.751396,-74.005226,446,W 24 St & 7 Ave,40.744876,-73.995299,17178,NaN,Subscriber,1983,2,1.106747,1.106052
2503,1566,2013-10-18 14:38:12,2013-10-18 15:04:18,495,W 47 St & 10 Ave,40.762699,-73.993012,323,Lawrence St & Willoughby St,40.692362,-73.986317,18080,NaN,Subscriber,1990,2,7.841441,7.836518
2504,357,2013-10-18 14:38:12,2013-10-18 14:44:09,521,8 Ave & W 31 St,40.750450,-73.994811,444,Broadway & W 24 St,40.742354,-73.989151,18451,NaN,Subscriber,1975,1,1.018669,1.018029
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3120,890,2016-05-05 17:14:15,2016-05-05 17:29:05,392,Jay St & Tech Pl,40.695065,-73.987167,417,Barclay St & Church St,40.712912,-74.010202,23868,NaN,Subscriber,1985,1,2.776479,2.774736
3121,566,2016-05-05 17:14:16,2016-05-05 17:23:43,128,MacDougal St & Prince St,40.727103,-74.002971,503,E 20 St & Park Ave,40.738274,-73.987520,20617,NaN,Subscriber,1984,1,1.799476,1.798346
3122,381,2016-05-05 17:14:16,2016-05-05 17:20:37,519,Pershing Square North,40.751873,-73.977706,441,E 52 St & 2 Ave,40.756014,-73.967416,23674,NaN,Subscriber,1986,1,0.981468,0.980852
3123,1758,2016-05-05 17:14:17,2016-05-05 17:43:36,441,E 52 St & 2 Ave,40.756014,-73.967416,412,Forsyth St & Canal St,40.715815,-73.994224,23227,NaN,Subscriber,1993,1,5.008132,5.004988
3124,4177,2016-05-05 17:14:17,2016-05-05 18:23:54,444,Broadway & W 24 St,40.742354,-73.989151,517,Pershing Square South,40.751581,-73.977910,24800,NaN,Subscriber,1966,2,1.396168,1.395291

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf,distance_in_km
3125,1063,2016-05-05 17:14:18,2016-05-05 17:32:01,212,W 16 St & The High Line,40.743349,-74.006818,301,E 2 St & Avenue B,40.722174,-73.983688,19041,NaN,Subscriber,1974,1,3.056478,3.054559
3126,1841,2016-05-05 17:14:18,2016-05-05 17:44:59,351,Front St & Maiden Ln,40.705310,-74.006126,528,2 Ave & E 31 St,40.742909,-73.977061,19348,NaN,Subscriber,1984,1,4.845500,4.842458
3127,247,2016-05-05 17:14:20,2016-05-05 17:18:27,384,Fulton St & Washington Ave,40.683048,-73.964915,3048,Putnam Ave & Nostrand Ave,40.684020,-73.949770,22530,NaN,Subscriber,1987,1,1.281615,1.280810
3128,512,2016-05-05 17:14:20,2016-05-05 17:22:52,437,Macon St & Nostrand Ave,40.680983,-73.950048,353,S Portland Ave & Hanson Pl,40.685396,-73.974315,16971,NaN,Subscriber,1986,1,2.104205,2.102884
3129,1159,2016-05-05 17:14:23,2016-05-05 17:33:43,457,Broadway & W 58 St,40.766953,-73.981693,490,8 Ave & W 33 St,40.751551,-73.993934,16038,NaN,Subscriber,1973,1,1.999016,1.997761
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3745,703,2017-05-12 10:07:33,2017-05-12 10:19:16,3145,E 84 St & Park Ave,40.778627,-73.957721,2023,E 55 St & Lexington Ave,40.759681,-73.970314,15698,NaN,Subscriber,1957,1,2.358566,2.357085
3746,194,2017-05-12 10:07:34,2017-05-12 10:10:49,267,Broadway & W 36 St,40.750977,-73.987654,486,Broadway & W 29 St,40.746201,-73.988557,18008,NaN,Subscriber,1958,2,0.536510,0.536173
3747,615,2017-05-12 10:07:35,2017-05-12 10:17:50,546,E 30 St & Park Ave S,40.744449,-73.983035,3260,Mercer St & Bleecker St,40.727064,-73.996621,27520,NaN,Subscriber,1987,1,2.246677,2.245266
3748,343,2017-05-12 10:07:37,2017-05-12 10:13:21,325,E 19 St & 3 Ave,40.736245,-73.984738,345,W 13 St & 6 Ave,40.736494,-73.997044,25415,NaN,Subscriber,1978,1,1.037214,1.036563
3749,745,2017-05-12 10:07:37,2017-05-12 10:20:02,3323,W 106 St & Central Park West,40.798186,-73.960591,3318,2 Ave & E 96 St,40.783964,-73.947167,18197,NaN,Subscriber,1964,1,1.943690,1.942469

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf,distance_in_km
3750,282,2017-05-12 10:07:38,2017-05-12 10:12:20,274,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3414,Bergen St & Flatbush Ave,40.680945,-73.975673,25546,NaN,Subscriber,1981,1,0.669693,0.669273
3751,301,2017-05-12 10:07:38,2017-05-12 10:12:40,536,1 Ave & E 30 St,40.741444,-73.975361,537,Lexington Ave & E 24 St,40.740259,-73.984092,28869,NaN,Subscriber,1970,1,0.747315,0.746845
3752,743,2017-05-12 10:07:38,2017-05-12 10:20:02,3076,Scholes St & Manhattan Ave,40.708704,-73.944862,3113,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,27428,NaN,Subscriber,1976,1,2.516075,2.514496
3753,1056,2017-05-12 10:07:39,2017-05-12 10:25:16,3387,E 106 St & Madison Ave,40.793434,-73.949450,3137,5 Ave & E 73 St,40.772828,-73.966853,20953,NaN,Customer,<NA>,0,2.719676,2.717968
3754,1044,2017-05-12 10:07:39,2017-05-12 10:25:04,3387,E 106 St & Madison Ave,40.793434,-73.949450,3137,5 Ave & E 73 St,40.772828,-73.966853,20638,NaN,Customer,<NA>,0,2.719676,2.717968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4370,1175,2016-04-23 16:31:46,2016-04-23 16:51:21,223,W 13 St & 7 Ave,40.737815,-73.999947,307,Canal St & Rutgers St,40.714275,-73.989900,16783,NaN,Subscriber,1982,1,2.751052,2.749325
4371,751,2016-04-23 16:31:47,2016-04-23 16:44:19,442,W 27 St & 7 Ave,40.746647,-73.993915,168,W 18 St & 6 Ave,40.739713,-73.994564,15182,NaN,Customer,<NA>,0,0.772961,0.772476
4372,913,2016-04-23 16:31:47,2016-04-23 16:47:01,2021,W 45 St & 8 Ave,40.759291,-73.988597,459,W 20 St & 11 Ave,40.746745,-74.007756,23125,NaN,Subscriber,1985,1,2.133267,2.131927
4373,789,2016-04-23 16:31:51,2016-04-23 16:45:00,3120,Center Blvd & Borden Ave,40.741610,-73.960440,3120,Center Blvd & Borden Ave,40.741610,-73.960440,23274,NaN,Customer,<NA>,0,0.000000,0.000000
4374,2024,2016-04-23 16:31:53,2016-04-23 17:05:38,247,Perry St & Bleecker St,40.735354,-74.004831,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,20064,NaN,Subscriber,1982,1,5.035754,5.032592

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf,distance_in_km
4375,970,2016-04-23 16:31:53,2016-04-23 16:48:04,382,University Pl & E 14 St,40.734927,-73.992005,303,Mercer St & Spring St,40.723627,-73.999496,18929,NaN,Customer,<NA>,0,1.406097,1.405214
4376,447,2016-04-23 16:31:54,2016-04-23 16:39:21,128,MacDougal St & Prince St,40.727103,-74.002971,346,Bank St & Hudson St,40.736529,-74.006180,23011,NaN,Subscriber,1989,1,1.082480,1.081801
4377,1135,2016-04-23 16:31:54,2016-04-23 16:50:50,384,Fulton St & Washington Ave,40.683048,-73.964915,157,Henry St & Atlantic Ave,40.690893,-73.996123,17910,NaN,Subscriber,1967,1,2.772224,2.770483
4378,1990,2016-04-23 16:31:56,2016-04-23 17:05:07,315,South St & Gouverneur Ln,40.703554,-74.006702,3159,W 67 St & Broadway,40.774925,-73.982666,16270,NaN,Subscriber,1974,1,8.190438,8.185296
4379,2317,2016-04-23 16:31:56,2016-04-23 17:10:34,405,Washington St & Gansevoort St,40.739323,-74.008119,392,Jay St & Tech Pl,40.695065,-73.987167,14698,NaN,Customer,<NA>,0,5.228474,5.225191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,538,2017-05-12 10:12:59,2017-05-12 10:21:58,3428,8 Ave & W 16 St,40.740983,-74.001702,3255,8 Ave & W 31 St,40.750585,-73.994685,19489,NaN,Customer,<NA>,0,1.220453,1.219687
4996,1261,2017-05-12 10:13:00,2017-05-12 10:34:01,236,St Marks Pl & 2 Ave,40.728419,-73.987140,441,E 52 St & 2 Ave,40.756014,-73.967416,26994,NaN,Subscriber,1994,2,3.489498,3.487307
4997,755,2017-05-12 10:13:01,2017-05-12 10:25:37,306,Cliff St & Fulton St,40.708235,-74.005301,265,Stanton St & Chrystie St,40.722293,-73.991475,28148,NaN,Subscriber,1990,2,1.949718,1.948494
4998,305,2017-05-12 10:13:02,2017-05-12 10:18:07,482,W 15 St & 7 Ave,40.739355,-73.999318,496,E 16 St & 5 Ave,40.737262,-73.992390,21109,NaN,Subscriber,1973,2,0.628421,0.628027
4999,993,2017-05-12 10:13:02,2017-05-12 10:29:35,3141,1 Ave & E 68 St,40.765005,-73.958185,528,2 Ave & E 31 St,40.742909,-73.977061,18336,NaN,Subscriber,1991,1,2.926553,2.924715

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf,distance_in_km
5000,351,2017-05-12 10:13:04,2017-05-12 10:18:56,3311,Columbia St & Kane St,40.687632,-74.001626,3180,Brooklyn Bridge Park - Pier 2,40.698780,-73.997120,20732,NaN,Subscriber,1977,2,1.296546,1.295732
5001,262,2017-05-12 10:13:06,2017-05-12 10:17:28,3146,E 81 St & 3 Ave,40.775730,-73.956753,3143,5 Ave & E 78 St,40.776321,-73.964274,16097,NaN,Subscriber,1958,1,0.636730,0.636331
5002,1850,2017-05-12 10:13:07,2017-05-12 10:43:57,311,Norfolk St & Broome St,40.717227,-73.988021,304,Broadway & Battery Pl,40.704633,-74.013617,15319,NaN,Customer,<NA>,0,2.572079,2.570464
5003,1674,2017-05-12 10:13:07,2017-05-12 10:41:01,3311,Columbia St & Kane St,40.687632,-74.001626,3263,Cooper Square & E 7 St,40.729236,-73.990868,20143,NaN,Subscriber,1974,1,4.714285,4.711325
5004,656,2017-05-12 10:13:09,2017-05-12 10:24:06,465,Broadway & W 41 St,40.755136,-73.986580,3223,E 55 St & 3 Ave,40.758997,-73.968654,27314,NaN,Subscriber,1970,1,1.569758,1.568772
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5620,616,2017-10-11 16:30:55,2017-10-11 16:41:11,3233,E 48 St & 5 Ave,40.757246,-73.978059,3641,Broadway & W 25 St,40.742869,-73.989186,25129,NaN,Subscriber,1970,1,1.853164,1.852000
5621,407,2017-10-11 16:30:56,2017-10-11 16:37:44,3103,N 11 St & Wythe Ave,40.721533,-73.957824,3094,Graham Ave & Withers St,40.716981,-73.944859,16145,NaN,Subscriber,1989,2,1.204120,1.203364
5622,788,2017-10-11 16:30:57,2017-10-11 16:44:05,3158,W 63 St & Broadway,40.771639,-73.982614,479,9 Ave & W 45 St,40.760193,-73.991255,27849,NaN,Customer,<NA>,0,1.466088,1.465167
5623,803,2017-10-11 16:30:57,2017-10-11 16:44:21,3158,W 63 St & Broadway,40.771639,-73.982614,479,9 Ave & W 45 St,40.760193,-73.991255,26608,NaN,Customer,<NA>,0,1.466088,1.465167
5624,822,2017-10-11 16:30:58,2017-10-11 16:44:40,3134,3 Ave & E 62 St,40.763126,-73.965269,3305,E 91 St & 2 Ave,40.781122,-73.949656,18761,NaN,Subscriber,1979,1,2.394383,2.392880

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf,distance_in_km
5625,877,2017-10-11 16:30:58,2017-10-11 16:45:35,3359,E 68 St & Madison Ave,40.769157,-73.967035,468,Broadway & W 56 St,40.765265,-73.981923,15877,NaN,Subscriber,1980,1,1.326441,1.325608
5626,343,2017-10-11 16:30:59,2017-10-11 16:36:42,485,W 37 St & 5 Ave,40.750380,-73.983390,173,Broadway & W 49 St,40.760683,-73.984527,18432,NaN,Subscriber,1979,1,1.149660,1.148938
5627,178,2017-10-11 16:30:59,2017-10-11 16:33:57,3073,Division Ave & Hooper St,40.706913,-73.954417,3082,Hope St & Union Ave,40.711674,-73.951413,26929,NaN,Subscriber,1967,1,0.586816,0.586447
5628,370,2017-10-11 16:31:00,2017-10-11 16:37:11,519,Pershing Square North,40.751873,-73.977706,498,Broadway & W 32 St,40.748549,-73.988084,32386,NaN,Subscriber,1953,1,0.949166,0.948570
5629,377,2017-10-11 16:31:00,2017-10-11 16:37:18,3143,5 Ave & E 78 St,40.776321,-73.964274,3165,Central Park West & W 72 St,40.775794,-73.976206,21332,NaN,Subscriber,1962,2,1.006422,1.005790
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6245,170,2017-10-11 16:34:31,2017-10-11 16:37:21,344,Monroe St & Bedford Ave,40.685144,-73.953809,437,Macon St & Nostrand Ave,40.680983,-73.950048,31647,NaN,Subscriber,1973,1,0.560932,0.560579
6246,379,2017-10-11 16:34:31,2017-10-11 16:40:50,3041,Kingston Ave & Herkimer St,40.678907,-73.941428,396,Lefferts Pl & Franklin Ave,40.680342,-73.955769,32385,NaN,Subscriber,1986,2,1.219836,1.219070
6247,1756,2017-10-11 16:34:31,2017-10-11 17:03:48,3141,1 Ave & E 68 St,40.765005,-73.958185,445,E 10 St & Avenue A,40.727408,-73.981420,20160,NaN,Subscriber,1962,2,4.616168,4.613269
6248,521,2017-10-11 16:34:33,2017-10-11 16:43:15,268,Howard St & Centre St,40.719105,-73.999733,2009,Catherine St & Monroe St,40.711174,-73.996826,21490,NaN,Subscriber,1976,1,0.915285,0.914710
6249,825,2016-09-21 15:03:16,2016-09-21 15:17:01,157,Henry St & Atlantic Ave,40.690893,-73.996123,353,S Portland Ave & Hanson Pl,40.685396,-73.974315,20131,NaN,Subscriber,1951,1,1.937764,1.936547

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf,distance_in_km
6250,948,2016-09-21 15:03:16,2016-09-21 15:19:05,174,E 25 St & 1 Ave,40.738177,-73.977387,3230,Penn Station Valet,40.751284,-73.996924,25134,NaN,Subscriber,1968,2,2.198472,2.197092
6251,1711,2016-09-21 15:03:18,2016-09-21 15:31:49,241,DeKalb Ave & S Portland Ave,40.689810,-73.974931,297,E 15 St & 3 Ave,40.734232,-73.986923,20014,NaN,Subscriber,1967,1,5.041812,5.038647
6252,723,2016-09-21 15:03:19,2016-09-21 15:15:22,449,W 52 St & 9 Ave,40.764618,-73.987895,478,11 Ave & W 41 St,40.760301,-73.998842,25658,NaN,Customer,1986,2,1.039511,1.038858
6253,331,2016-09-21 15:03:20,2016-09-21 15:08:52,540,Lexington Ave & E 29 St,40.743116,-73.982154,474,5 Ave & E 29 St,40.745168,-73.986831,25365,NaN,Subscriber,1976,0,0.455337,0.455051
6254,1188,2016-09-21 15:03:23,2016-09-21 15:23:11,254,W 11 St & 6 Ave,40.735324,-73.998004,150,E 2 St & Avenue C,40.720874,-73.980858,21661,NaN,Subscriber,1967,2,2.160896,2.159539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6870,1699,2017-05-12 10:18:51,2017-05-12 10:47:10,453,W 22 St & 8 Ave,40.744751,-73.999154,453,W 22 St & 8 Ave,40.744751,-73.999154,19966,NaN,Subscriber,1952,1,0.000000,0.000000
6871,366,2017-05-12 10:18:52,2017-05-12 10:24:59,470,W 20 St & 8 Ave,40.743453,-74.000040,490,8 Ave & W 33 St,40.751551,-73.993934,18392,NaN,Subscriber,1988,1,1.036995,1.036344
6872,1683,2017-05-12 10:18:53,2017-05-12 10:46:56,229,Great Jones St,40.727434,-73.993790,508,W 46 St & 11 Ave,40.763414,-73.996674,29151,NaN,Subscriber,1953,1,4.008116,4.005599
6873,169,2017-05-12 10:18:53,2017-05-12 10:21:43,380,W 4 St & 7 Ave S,40.734011,-74.002939,358,Christopher St & Greenwich St,40.732916,-74.007114,26594,NaN,Subscriber,1964,2,0.372293,0.372059
6874,1280,2017-05-12 10:18:55,2017-05-12 10:40:15,151,Cleveland Pl & Spring St,40.722104,-73.997249,153,E 40 St & 5 Ave,40.752062,-73.981632,17273,NaN,Subscriber,1961,1,3.581668,3.579419

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf,distance_in_km
6875,1054,2017-05-12 10:18:56,2017-05-12 10:36:31,285,Broadway & E 14 St,40.734546,-73.990741,285,Broadway & E 14 St,40.734546,-73.990741,29195,NaN,Subscriber,1977,1,0.000000,0.000000
6876,363,2017-05-12 10:18:56,2017-05-12 10:24:59,496,E 16 St & 5 Ave,40.737262,-73.992390,127,Barrow St & Hudson St,40.731724,-74.006744,21403,NaN,Subscriber,1963,1,1.357203,1.356351
6877,949,2017-05-12 10:18:56,2017-05-12 10:34:45,3310,14 St & 7 Ave,40.663779,-73.983968,467,Dean St & 4 Ave,40.683125,-73.978951,25206,NaN,Subscriber,1965,1,2.192381,2.191005
6878,188,2017-05-12 10:18:57,2017-05-12 10:22:06,316,Fulton St & William St,40.709560,-74.006536,387,Centre St & Chambers St,40.712733,-74.004607,28569,NaN,Subscriber,1955,1,0.388483,0.388239
6879,851,2017-05-12 10:18:58,2017-05-12 10:33:09,3440,Fulton St & Adams St,40.692418,-73.989495,146,Hudson St & Reade St,40.716250,-74.009106,20382,NaN,Customer,<NA>,0,3.123330,3.121369
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,723,2017-10-11 16:37:42,2017-10-11 16:49:46,310,State St & Smith St,40.689269,-73.989129,2000,Front St & Washington St,40.702551,-73.989402,17993,NaN,Subscriber,1989,2,1.477011,1.476084
7496,450,2017-10-11 16:37:42,2017-10-11 16:45:13,505,6 Ave & W 33 St,40.749013,-73.988484,523,W 38 St & 8 Ave,40.754666,-73.991382,19795,NaN,Subscriber,1966,1,0.674330,0.673906
7497,464,2017-10-11 16:37:43,2017-10-11 16:45:28,380,W 4 St & 7 Ave S,40.734011,-74.002939,509,9 Ave & W 22 St,40.745497,-74.001971,27488,NaN,Subscriber,1973,1,1.279768,1.278965
7498,744,2017-10-11 16:37:43,2017-10-11 16:50:08,415,Pearl St & Hanover Square,40.704718,-74.009260,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,15377,NaN,Subscriber,1992,1,2.877026,2.875220
7499,1032,2017-10-11 16:37:43,2017-10-11 16:54:56,461,E 20 St & 2 Ave,40.735877,-73.982050,3256,Pier 40 - Hudson River Park,40.727714,-74.011296,17335,NaN,Subscriber,1968,1,2.626079,2.624430

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf,distance_in_km
7500,526,2017-10-11 16:37:46,2017-10-11 16:46:33,421,Clermont Ave & Park Ave,40.695734,-73.971297,397,Fulton St & Clermont Ave,40.684157,-73.969223,19966,NaN,Subscriber,1978,1,1.299071,1.298255
7501,1286,2017-10-11 16:37:47,2017-10-11 16:59:13,479,9 Ave & W 45 St,40.760193,-73.991255,458,11 Ave & W 27 St,40.751396,-74.005226,32140,NaN,Customer,<NA>,0,1.530203,1.529242
7502,884,2017-10-11 16:37:49,2017-10-11 16:52:34,503,E 20 St & Park Ave,40.738274,-73.987520,487,E 20 St & FDR Drive,40.733143,-73.975739,16050,NaN,Subscriber,1990,2,1.144930,1.144211
7503,404,2017-10-11 16:37:49,2017-10-11 16:44:33,3244,University Pl & E 8 St,40.731437,-73.994903,265,Stanton St & Chrystie St,40.722293,-73.991475,30827,NaN,Customer,<NA>,0,1.056982,1.056319
7504,1635,2017-10-11 16:37:51,2017-10-11 17:05:07,368,Carmine St & 6 Ave,40.730386,-74.002150,2008,Little West St & 1 Pl,40.705693,-74.016777,18502,NaN,Customer,<NA>,0,3.009811,3.007922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8120,833,2016-09-21 15:14:04,2016-09-21 15:27:57,3108,Nassau Ave & Russell St,40.725570,-73.944340,3016,Kent Ave & N 7 St,40.720368,-73.961651,27281,NaN,Subscriber,1986,2,1.569308,1.568322
8121,480,2016-09-21 15:14:06,2016-09-21 15:22:07,540,Lexington Ave & E 29 St,40.743116,-73.982154,485,W 37 St & 5 Ave,40.750380,-73.983390,20690,NaN,Subscriber,1974,1,0.814466,0.813955
8122,1492,2016-09-21 15:14:06,2016-09-21 15:38:58,3168,Central Park West & W 85 St,40.784727,-73.969617,2006,Central Park S & 6 Ave,40.765909,-73.976342,21140,NaN,Customer,<NA>,0,2.167659,2.166298
8123,310,2016-09-21 15:14:07,2016-09-21 15:19:18,3405,5 St & 6 Ave,40.670484,-73.982090,3361,Carroll St & 6 Ave,40.674089,-73.978728,26029,NaN,Subscriber,1972,1,0.490974,0.490665
8124,647,2016-09-21 15:14:08,2016-09-21 15:24:56,280,E 10 St & 5 Ave,40.733320,-73.995101,509,9 Ave & W 22 St,40.745497,-74.001971,19648,NaN,Subscriber,1958,1,1.472610,1.471686

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf,distance_in_km
8125,1068,2016-09-21 15:14:09,2016-09-21 15:31:57,461,E 20 St & 2 Ave,40.735877,-73.982050,526,E 33 St & 5 Ave,40.747659,-73.984907,14855,NaN,Subscriber,1986,1,1.332098,1.331262
8126,359,2016-09-21 15:14:09,2016-09-21 15:20:08,486,Broadway & W 29 St,40.746201,-73.988557,497,E 17 St & Broadway,40.737050,-73.990093,25592,NaN,Subscriber,1954,2,1.025744,1.025100
8127,502,2016-09-21 15:14:14,2016-09-21 15:22:37,2006,Central Park S & 6 Ave,40.765909,-73.976342,477,W 41 St & 8 Ave,40.756405,-73.990026,25490,NaN,Subscriber,1955,1,1.563715,1.562734
8128,1394,2016-09-21 15:14:15,2016-09-21 15:37:30,414,Pearl St & Anchorage Pl,40.702819,-73.987658,414,Pearl St & Anchorage Pl,40.702819,-73.987658,25129,NaN,Subscriber,1971,1,0.000000,0.000000
8129,204,2016-09-21 15:14:17,2016-09-21 15:17:42,509,9 Ave & W 22 St,40.745497,-74.001971,3428,8 Ave & W 16 St,40.740983,-74.001702,21332,NaN,Subscriber,1992,1,0.502480,0.502165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8745,848,2014-05-10 20:27:45,2014-05-10 20:41:53,317,E 6 St & Avenue B,40.724537,-73.981854,345,W 13 St & 6 Ave,40.736494,-73.997044,20693,NaN,Customer,<NA>,0,1.845474,1.844315
8746,852,2014-05-10 20:27:49,2014-05-10 20:42:01,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,262,Washington Park,40.691782,-73.973730,18707,NaN,Subscriber,1986,1,0.218351,0.218214
8747,571,2014-05-10 20:27:50,2014-05-10 20:37:21,415,Pearl St & Hanover Square,40.704718,-74.009260,268,Howard St & Centre St,40.719105,-73.999733,18943,NaN,Subscriber,1973,1,1.790043,1.788919
8748,1250,2014-05-10 20:27:56,2014-05-10 20:48:46,303,Mercer St & Spring St,40.723627,-73.999496,494,W 26 St & 8 Ave,40.747348,-73.997236,17103,NaN,Customer,<NA>,0,2.644508,2.642848
8749,1285,2014-05-10 20:28:03,2014-05-10 20:49:28,441,E 52 St & 2 Ave,40.756014,-73.967416,312,Allen St & E Houston St,40.722055,-73.989111,19298,NaN,Subscriber,1986,1,4.195195,4.192561

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf,distance_in_km
8750,820,2014-05-10 20:28:08,2014-05-10 20:41:48,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,262,Washington Park,40.691782,-73.973730,16933,NaN,Subscriber,1987,1,0.218351,0.218214
8751,497,2014-05-10 20:28:10,2014-05-10 20:36:27,438,St Marks Pl & 1 Ave,40.727791,-73.985649,335,Washington Pl & Broadway,40.729039,-73.994046,18899,NaN,Subscriber,1981,1,0.721052,0.720599
8752,484,2014-05-10 20:28:12,2014-05-10 20:36:16,368,Carmine St & 6 Ave,40.730386,-74.002150,127,Barrow St & Hudson St,40.731724,-74.006744,15983,NaN,Subscriber,1990,2,0.414753,0.414492
8753,690,2014-05-10 20:28:19,2014-05-10 20:39:49,303,Mercer St & Spring St,40.723627,-73.999496,426,West St & Chambers St,40.717548,-74.013221,21285,NaN,Subscriber,1965,1,1.339680,1.338838
8754,467,2014-05-10 20:28:20,2014-05-10 20:36:07,312,Allen St & E Houston St,40.722055,-73.989111,297,E 15 St & 3 Ave,40.734232,-73.986923,20512,NaN,Subscriber,1982,1,1.366516,1.365658
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9370,1347,2014-01-24 23:31:26,2014-01-24 23:53:53,2010,Grand St & Greene St,40.721655,-74.002347,518,E 39 St & 2 Ave,40.747804,-73.973442,18728,NaN,Subscriber,1983,1,3.792870,3.790488
9371,523,2014-01-24 23:31:33,2014-01-24 23:40:16,467,Dean St & 4 Ave,40.683125,-73.978951,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,19865,NaN,Subscriber,1983,1,1.261218,1.260426
9372,1791,2014-01-24 23:31:42,2014-01-25 00:01:33,352,W 56 St & 6 Ave,40.763406,-73.977225,355,Bayard St & Baxter St,40.716021,-73.999744,19976,NaN,Subscriber,1979,2,5.600132,5.596616
9373,294,2014-01-24 23:31:55,2014-01-24 23:36:49,529,W 42 St & 8 Ave,40.757570,-73.990985,478,11 Ave & W 41 St,40.760301,-73.998842,20282,NaN,Subscriber,1979,1,0.728128,0.727671
9374,214,2014-01-24 23:31:56,2014-01-24 23:35:30,311,orfolk St & Broome St,40.717227,-73.988021,361,Allen St & Hester St,40.716059,-73.991908,17666,NaN,Subscriber,1994,1,0.352411,0.352190

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,membership_type,usertype,birth_year,gender,distance_in_km_sf,distance_in_km
9375,300,2014-01-24 23:32:00,2014-01-24 23:37:00,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,290,2 Ave & E 58 St,40.760203,-73.964785,17225,NaN,Subscriber,1985,1,0.884976,0.884421
9376,314,2014-01-24 23:32:16,2014-01-24 23:37:30,445,E 10 St & Avenue A,40.727408,-73.981420,428,E 3 St & 1 Ave,40.724677,-73.987834,16248,NaN,Subscriber,1983,1,0.619950,0.619561
9377,745,2014-01-24 23:32:31,2014-01-24 23:44:56,396,Lefferts Pl & Franklin Ave,40.680342,-73.955769,409,DeKalb Ave & Skillman St,40.690649,-73.956431,16857,NaN,Subscriber,1980,1,1.147454,1.146733
9378,393,2014-01-24 23:32:33,2014-01-24 23:39:06,469,Broadway & W 53 St,40.763441,-73.982681,468,Broadway & W 55 St,40.765265,-73.981923,21165,NaN,Subscriber,1982,1,0.212714,0.212580
9379,1158,2014-01-24 23:32:41,2014-01-24 23:51:59,387,Centre St & Chambers St,40.712733,-74.004607,127,Barrow St & Hudson St,40.731724,-74.006744,21405,NaN,Subscriber,1960,1,2.119437,2.118107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1293,2017-05-12 10:24:06,2017-05-12 10:45:40,530,11 Ave & W 59 St,40.771522,-73.990541,474,5 Ave & E 29 St,40.745168,-73.986831,28359,NaN,Subscriber,1979,1,2.947080,2.945229
9996,404,2017-05-12 10:24:12,2017-05-12 10:30:57,3223,E 55 St & 3 Ave,40.758997,-73.968654,3141,1 Ave & E 68 St,40.765005,-73.958185,26854,NaN,Subscriber,1974,1,1.106277,1.105583
9997,1842,2017-05-12 10:24:14,2017-05-12 10:54:56,497,E 17 St & Broadway,40.737050,-73.990093,530,11 Ave & W 59 St,40.771522,-73.990541,26078,NaN,Subscriber,1956,2,3.833315,3.830908
9998,335,2017-05-12 10:24:16,2017-05-12 10:29:52,3411,Bond St & Bergen St,40.684967,-73.986208,3232,Bond St & Fulton St,40.689622,-73.983043,16244,NaN,Subscriber,1961,2,0.582366,0.582000
9999,264,2017-05-12 10:24:18,2017-05-12 10:28:43,383,Greenwich Ave & Charles St,40.735238,-74.000271,435,W 21 St & 6 Ave,40.741740,-73.994156,17031,NaN,Subscriber,1968,1,0.887769,0.887212